@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.navbar_logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin-left: -1.2rem;
    font-size: 2rem;
    color: #304880;
}
.navbar_menu {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-top: 0.7rem;
    font-size: 1.2rem;
}