@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


/* ! CONTAINER */
* {
    font-family: "Poppins", cursive;
}
body {
    scroll-behavior: smooth;
}

#container_width {
    max-width: 1280px;
    margin: 0 auto;
    overflow-x: hidden;
}

/*! BARRA DE NAVEGAÇÃO/NAVBAR */

.navbar_logo {
    font-weight: 900;
    color: #130f40;
    font-size: 2rem;
    margin-left: -1.2rem; 
}

.navbar_menu {
    font-weight: 800;
    font-size: 1.2rem;
    margin-top: 0.7rem;
}

/*! CABEÇALHO/HEADER */ 

#header_container {
    margin-top: 9rem;
    margin-bottom: 5rem;
}

.title_welcome {
    color: #27ae60 ;
    margin-bottom: 0.7rem;
}

.title_different_tastes {
    margin-bottom: 0.8rem;
    color: #130f40;
    
}

.button_order_now {
    margin-top: 0.4rem;
    background-color: #27ae60;
    color: #fff;
}

.image_overlay {
    position: absolute;
    overflow: hidden;
    top: -230px;
    left: -400px;
    height: 160%;
}

/*! SECTION COMIDAS/SECTION FOODS */ 

#section_container {
    margin-bottom: 9rem;
}

.foods {
    background-color: #6666663d;
    width: 210px;
    height: 170px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.foods-margin-left {
    margin-left: 1rem;
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-foods {
    color: #130f40;
    padding-top: 0.5rem;
    font-weight: 700;
}


